*{
    margin: 0;
    padding: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3 ;
    padding-top: 50px;
}

nav{
    border: 1px solid tomato;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

.logo h2{
    font-size: 45px;
}

.orange{
    color:  #FD6E0A;
}

