*{
    margin: 0;
    padding: 0;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3 ;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png")  #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.orange{
    color:  #FD6E0A;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li{
    list-style: none;
    font-size: 20px;
    color: #474747;
}

.button{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p{
    line-height: 30px;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

.about{
    padding-top: 130px;
}

.about-section{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-header, .skill-heading{
    max-width: 827px;
    margin: 0 auto;
}

.about-header h2, .skill-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.about-header p, .skill-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.info-card p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.info-card h4{
    font-size: 20px;
    color: #181818;
}

#skill{
    padding-top: 130px;
}

.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.skill-box{
    display: flex;
    gap: 24px;
}

.skill-card{
    
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000001a;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;   
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

